img {
    height: auto;
    width: 500 px; 
}

.bottom-section{
    font-family: Arial, Helvetica, sans-serif;
    background: pink; 
    width: 100 px; 
    color: black; 
    
}

.box {
    background: lightblue;
    width: 300 px;
    margin: 100 px;
    border-left-color: red; 
    border-left-width: 10px;
    padding: 100 px;

}